In [83]:
# Session

In [84]:
numeros = [ 33,44,55,11,22,66,77,88,99,36 ]

In [85]:
numeros.sort()

In [86]:
print(numeros)

[11, 22, 33, 36, 44, 55, 66, 77, 88, 99]

In [87]:
numeros.sort( reverse=True)

In [88]:
sum(numeros)

531

In [89]:
suma= sum (numeros)
n = 10 
promedio = suma / n
promedio

53.1

In [90]:
len (numeros )

10

In [91]:
suma= sum (numeros)
n= len (numeros)
promedio= suma/n
promedio

53.1

In [92]:
min (numeros)

11

In [93]:
max (numeros)

99

## DICCIONARIOS

In [94]:
dict ()

{}

In [95]:
capitales = {"España": "Madrid", "Francia":"Paris", "Alemania":"Berlin"}

In [96]:
print (capitales)

{'España': 'Madrid', 'Francia': 'Paris', 'Alemania': 'Berlin'}

In [97]:
capitales

{'España': 'Madrid', 'Francia': 'Paris', 'Alemania': 'Berlin'}

In [98]:
capitales ['España']

'Madrid'

In [99]:
capitales.values()

dict_values(['Madrid', 'Paris', 'Berlin'])

In [100]:
capitales['mexico'] = 'cdmx'

In [101]:
capitales

{'España': 'Madrid',
 'Francia': 'Paris',
 'Alemania': 'Berlin',
 'mexico': 'cdmx'}

In [102]:
datos_amigo= {"name":"mario","pais":"colombia"}

In [103]:
datos_amigos2 = {"nombre":"daniel", "pais": "jamaica"}

In [104]:
amigos =[datos_amigo, datos_amigos2]

In [105]:
amigos

[{'name': 'mario', 'pais': 'colombia'},
 {'nombre': 'daniel', 'pais': 'jamaica'}]

In [82]:
len(amigos)

2

In [11]:
mi_nombre= input ("dame tu nombre")
mi_nombre

'maria'

In [7]:
mi_edad = input ("dame tu edad")
mi_edad*5

'2525252525'

In [4]:
# SESION 2

In [6]:
lista = ["hola", "mi nombre es", "daniel"]

In [7]:
"".join(lista)

'holami nombre esdaniel'

In [9]:
"/".join(lista)

'hola/mi nombre es/daniel'

In [10]:
" ".join(lista)

'hola mi nombre es daniel'

In [11]:
string="fuiste mi más bonita casualidad"

se utiliza para reemplazar

In [12]:
string.replace("fuiste","eres")

'eres mi más bonita casualidad'

In [16]:
palabra= "fuiste mi más bonita casualidad"

In [17]:
palabra.title ()

'Fuiste Mi Más Bonita Casualidad'

In [18]:
palabra.title()

'Fuiste Mi Más Bonita Casualidad'

In [19]:
palabra.upper()

'FUISTE MI MÁS BONITA CASUALIDAD'

In [20]:
# TUPLAS

In [21]:
tuple()

()

In [22]:
amigos = ("juan","ramiro", "sofia")

In [23]:
amigos

('juan', 'ramiro', 'sofia')

In [24]:
amigos [0]

'juan'

In [25]:
a=20
b=15
c=30

numeros = a,b,c

In [26]:
numeros

(20, 15, 30)

In [27]:
type(numeros)

tuple

In [29]:
coordenadas = (19.433, -99.140)

In [30]:
latitud, longitud = coordenadas

In [31]:
latitud

19.433

In [32]:
longitud

-99.14

In [33]:
amigos

('juan', 'ramiro', 'sofia')

In [36]:
amigos [1:3]

('ramiro', 'sofia')

In [37]:
frutas= ["manzana", "uva", "naranja"]

In [38]:
list(enumerate (frutas))

[(0, 'manzana'), (1, 'uva'), (2, 'naranja')]

In [42]:
enumerados =  list(enumerate (frutas))
enumerados

[(0, 'manzana'), (1, 'uva'), (2, 'naranja')]

In [43]:
indice, elemento = enumerados [0]

In [44]:
indice

0

In [45]:
elemento

'manzana'

In [46]:
indice, elemento =enumerados [1]

In [47]:
indice

1

In [48]:
# CONJUNTOS

In [50]:
conjunto1 = {10,6,2,8,36,48}

In [51]:
conjunto1

{2, 6, 8, 10, 36, 48}

In [52]:
numeros =[5,7,8,6,5,8,9,3,4,8,9,6]

elimina los datos duplicados

In [53]:
set (numeros)

{3, 4, 5, 6, 7, 8, 9}

agrega elementos a un conjunto

In [54]:
conjunto1.add(50,)

In [56]:
conjunto1

{2, 6, 8, 10, 36, 48, 50}

UNION DE CONJUNTOS

In [57]:
conjunto1.remove(50)

In [58]:
conjunto1

{2, 6, 8, 10, 36, 48}

In [59]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}

hacer union

In [60]:
a| b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

INTERSECCION

In [61]:
a & b

{4, 5}

In [62]:
a-b

{1, 2, 3}

In [63]:
b-a

{6, 7, 8, 9}

In [ ]:
UNION EXCLUSIVA

In [64]:
a^b

{1, 2, 3, 6, 7, 8, 9}

CONDICIONALES

In [66]:
5 < 10

True

In [68]:
20==20

True

SyntaxError: cannot assign to literal (3731415996.py, line 1)

In [70]:
5<=5

True

In [71]:
17<=20

True

In [72]:
18>=50

False

TABLAS DE VERDAD

In [76]:
False and True

False

In [77]:
True and False

False

In [78]:
False or True

True

In [79]:
not True

False

In [80]:
not False

True

In [ ]:
OPERADORES DE PERTENENCIA

PARA VALIDAR SI UN ELEMENTO SE ENCUENTRA PRESENTE EN UNA LISTA

In [81]:
frutas

['manzana', 'uva', 'naranja']

In [83]:
'manzana' in frutas

True

In [84]:
'pera ' in frutas

False

In [85]:
'manzana'not in frutas

False

CONDICIONALES 
Si la conficion se llega a cumplir

In [93]:
num1= int (input("dame un numero"))
if num1 >=0:

    print ("es positivo")
else:
    print ( "es negativo")

es positivo

In [95]:
num1

10

In [ ]:
num1= int(input"dame un numero"))
num2=int(input"dame un numero"))

if num1>num2:
    print(f: elmayor es el {num1})

In [96]:
list(enumerate(frutas))

[(0, 'manzana'), (1, 'uva'), (2, 'naranja')]

In [97]:
numeros=(10,13,44,55,66,77)

In [ ]:
datos_amigo2